@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Nunito:wght@400;500;600;700;800;900;1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Playfair+Display:wght@400;500&display=swap');

$fullhd_padding-x: 200px;
$laptop_padding-x: 50px;

body {
	@apply bg-stone-100;
	padding-right: $fullhd_padding-x;
	padding-left: $fullhd_padding-x;
	position: relative;
	font-family: 'Open Sans', sans-serif;
}

@media (max-width: 1910px) {
	body {
		@apply bg-stone-100;
		padding-right: $laptop_padding-x;
		padding-left: $laptop_padding-x;
		position: relative;
		font-family: 'Open Sans', sans-serif;
	}
}

body::-webkit-scrollbar {
	width: 12px; /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
	@apply bg-stone-300 /* цвет зоны отслеживания */;
}

body::-webkit-scrollbar-thumb {
	@apply bg-stone-400; /* цвет бегунка */
	border-radius: 20px; /* округлось бегунка */
	@apply shadow-xl;
}

html {
	overflow-y: scroll;
}

/* Loader */
.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #166430;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #166430 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.bg-gradient {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bg-gradient-animation {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		45deg,
		#166430,
		#feed00,
		#168430,
		#166430,
		#168430,
		#feed00
	); /* Задаем градиент с переливающимися цветами */
	background-size: 400% 400%; /* Увеличиваем размер градиента для создания эффекта переливания */
	animation: gradientAnimation 8s ease-in-out infinite; /* Добавляем анимацию */
	z-index: -1;
	border-radius: 50%;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%; /* Начальное положение градиента */
	}
	50% {
		background-position: 100% 50%; /* Промежуточное положение градиента */
	}
	100% {
		background-position: 0% 50%; /* Конечное положение градиента */
	}
}

.loader {
	/* the colors */
	--c1: #feed00;
	--c2: #166430;
	--c3: #ef7f1b;
	--c4: #166430;
	/**/

	width: 55px; /* control the size */
	aspect-ratio: 8/5;
	--_g: no-repeat radial-gradient(#000 68%, #0000 71%);
	-webkit-mask: var(--_g), var(--_g), var(--_g);
	-webkit-mask-size: 25% 40%;
	background: conic-gradient(var(--c1) 50%, var(--c2) 0) no-repeat,
		conic-gradient(var(--c3) 50%, var(--c4) 0) no-repeat;
	background-size: 200% 50%;
	animation: back 4s infinite steps(1), load 2s infinite;
}

@keyframes load {
	0% {
		-webkit-mask-position: 0% 0%, 50% 0%, 100% 0%;
	}
	16.67% {
		-webkit-mask-position: 0% 100%, 50% 0%, 100% 0%;
	}
	33.33% {
		-webkit-mask-position: 0% 100%, 50% 100%, 100% 0%;
	}
	50% {
		-webkit-mask-position: 0% 100%, 50% 100%, 100% 100%;
	}
	66.67% {
		-webkit-mask-position: 0% 0%, 50% 100%, 100% 100%;
	}
	83.33% {
		-webkit-mask-position: 0% 0%, 50% 0%, 100% 100%;
	}
	100% {
		-webkit-mask-position: 0% 0%, 50% 0%, 100% 0%;
	}
}
@keyframes back {
	0%,
	100% {
		background-position: 0% 0%, 0% 100%;
	}
	25% {
		background-position: 100% 0%, 0% 100%;
	}
	50% {
		background-position: 100% 0%, 100% 100%;
	}
	75% {
		background-position: 0% 0%, 100% 100%;
	}
}
